body {
    background-color: purple;
}

.header {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

img {
    width: 650px;
    height: 500px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.signup-form {
    display: inline-block;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    margin: 0px auto;
    padding: 5px 5px;
}

.signup {
    width: 1000px;
    padding: 15px;
    border-radius: 8px;
    margin: 5px auto;
    background-color: rgba(100, 65, 0, .3);
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.1), 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.signup h3 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

.signup p {
    text-align: center;
}

.signup input {
    width: 100%;
}

input[type="text"], [type="email"] {
    margin: 10px 1em;
    border: 1px solid yellow;
    border-radius: 4px;
    padding: 10px;
}

input[type="submit"] {
    color: purple;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: white;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

input[type="submit"]:hover {
    color: yellow;
    background-color: black;
    box-shadow: inset 1px 2px 0 rgba(0,0,0,0.5);
}