body {
    background-color: purple;
}

.header {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-bottom: 10px;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.cursor {
    cursor: pointer;
}

img.demo {
    opacity: 0.6;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.thumb {
    width: 16%;
    float: left;
}

.active, .demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
    height: 500px;
    width: 100%;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.signup-form {
    display: inline-block;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    margin: 0px auto;
    padding: 5px 5px;
}

.signup {
    width: 1000px;
    padding: 15px;
    border-radius: 8px;
    margin: 5px auto;
    background-color: rgba(100, 65, 0, .3);
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.1), 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.signup h3 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

.signup p {
    text-align: center;
}

.signup input {
    width: 100%;
}

input[type="text"], [type="email"] {
    margin: 10px 1em;
    border: 1px solid yellow;
    border-radius: 4px;
    padding: 10px;
}

input[type="submit"] {
    color: purple;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: white;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

input[type="submit"]:hover {
    color: yellow;
    background-color: black;
    box-shadow: inset 1px 2px 0 rgba(0,0,0,0.5);
}